<div class="signup">
  <h1>Signup</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input 
        type="email" 
        name="email" 
        placeholder="email" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel"
        class="input-field"
      >
      <!-- <span *ngIf="emailInput.hasError('required')"> Email must not be empty </span> -->
      <br>
      <input 
        type="password" 
        name="password" 
        placeholder="password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
        class="input-field"
      >
      <br>
      <span> {{ pwInput.value?.length }} / 6 </span>
      <br>
      <button class="button" type="submit">Submit</button>
      <p>Your information will only be used for personalisation and authenthication as outlined in the <a href="" [routerLink]="['/terms-and-conditions']">Terms and Conditions.</a></p>
  </form>
</div>