<div class="full">
    <h1>Roast</h1>
    <app-tile 
        tileImage="duotone_roast.png" 
        tileTitle="Food made to order." 
        tileDescription="We take food seriously. That's why we prepare all our meals fresh.">
    </app-tile>
    <app-sliderloader></app-sliderloader>
    <app-brick
        brickContent="Relax, we have dinner sorted."
        brickButtonText="Order Now"
    ></app-brick>
    <app-tile
        tileImage="duotone_roast2.png" 
        tileTitle="Food for everyone." 
        tileDescription="Breakfast, Lunch and Dinner." 
        tileButtonText="Our Menu">
    </app-tile>
</div>
<app-footer></app-footer>