<div class="slideloader-container">
  <div class="slideloader-item">
    <div class="slideloader-title">

    </div>
    <div class="slideloader-image">

    </div>
    <div class="slideloader-description">

    </div>
  </div>
  <div class="slideloader-item">
      <div class="slideloader-title">
  
      </div>
      <div class="slideloader-image">
  
      </div>
      <div class="slideloader-description">
  
      </div>
    </div>
    <div class="slideloader-item">
        <div class="slideloader-title">
    
        </div>
        <div class="slideloader-image">
    
        </div>
        <div class="slideloader-description">
    
        </div>
      </div>
</div>