nav, .notification{
    min-height: 60px;
    background: #F6881E;
    display: flex;
    padding:0 1em;
    color: #2C1808;
    z-index: 99999999999;
}

.brand{
    display: flex;    
    text-align: center;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.mobile-tap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links>ul{
    list-style: none;
}

.links>ul>li>a{
    color:#2C1808;
    padding-right:1.5em;
    text-decoration: none;
}

.links>ul>li>a:hover{
    text-decoration: underline;
}

.notification{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(-100px);
}

.notification-message{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 4em;
}

.notification-close{
    display: flex;
    align-items: center;
}

.show-notification{
    animation-name: show;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: both;
}

@keyframes show {
    0%   {transform: translateY(100px)}
    25%   {transform: translateY(0px)}
    50%   {transform: translateY(0px)}
    75%   {transform: translateY(0px)}
    100% {transform: translateY(100px)}
}

@media only screen and (min-width: 420px){
    .mobile-tap{
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    nav{
        overflow: hidden;
        background-color: #F6881E;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .links{
        display: none;
    }
    .links.show{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-tap{
        display: flex;
        flex-grow: 1;
        padding-right: 2em;
    }
    .notification{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: fit-content;
    }
    @keyframes show {
        0%   {transform: translateY(-100px)}
        25%   {transform: translateY(0px)}
        50%   {transform: translateY(0px)}
        75%   {transform: translateY(0px)}
        100% {transform: translateY(-100px)}
    }
}