<div class="signup">
    <h1>Terms and Conditions</h1>

    <ul>
      <li>The information you will be asked to provide in this app are as follows.
          <ol>
            <li>Email address</li>
            <li>Username</li>
            <li>Password</li>
          </ol>
      </li>
      <li>We use this information in different ways such as:
          <ol>
            <li>To authenthicate you as a real user.</li>
            <li>To personalise the app for you with information such as your Username highlighted above.</li>
          </ol>
      </li>
      <li>Your information is authenthicated and stored using Firebase.</li>
      <li>More details about your information and Firebase can be found on their privacy page <a href="https://firebase.google.com/support/privacy/">here</a></li>
    </ul>
    
    <p>By signing up and using this app you agree to these terms and conditions.</p>
</div>