<div class="full" *ngIf="!fooddata">
    No {{ urlfood }} found.
</div>
<div class="full" *ngIf="fooddata">
    <div class="menu-item-category">
        <h3>{{ urlfood }}</h3>
        <div class="menu-item" *ngFor="let food of fooddata let i = index;">
            <div (click)="getMenuItem(food)">
                <div class="menu-item-heading">
                    <div class="menu-item-title">
                        {{ food.title }}
                    </div>
                    <div class="menu-item-divider"></div>
                    <div class="menu-item-price">
                        €{{ food.price }}
                    </div>
                </div>
                <div class="menu-item-info">
                    <div class="menu-item-description">
                        {{ food.ingredients }}
                    </div>
                    <div class="menu-item-add">
                        <i class="material-icons">
                            add
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>