.basket-wrapper>h2{
    padding: 0 1em;
}

.basket{
    display: flex;
}

.basket-item{
    flex-grow: 1;
    margin-bottom: 1em;
}

.basket-container{
    padding: 0 1em;
}

.basket-item-actions{
    color:#f6871f;
}

.no-items{
    text-align: center;
}