<div class="login">
  <h1>Login</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input 
          type="email" 
          name="email" 
          placeholder="email" 
          ngModel 
          name="email"
          email
          required
          #emailInput="ngModel"
          class="input-field"
          [ngClass]="{'input-error':emailInput.invalid && (emailInput.dirty || emailInput.touched)}"
        >
        <!-- <span *ngIf="emailInput.hasError('required')"> Email must not be empty </span> -->
        <br>
        <input 
          type="password" 
          name="password" 
          placeholder="password" 
          ngModel 
          name="password"
          required
          minlength="6"
          #pwInput="ngModel"
          class="input-field"
          [ngClass]="{'input-error':pwInput.invalid && (pwInput.dirty || pwInput.touched)}"
        >
        <br>
        <button class="button" type="submit">Submit</button>
        <br>
        <p class="error">{{ _error }}</p>
    </form>
    <p>Don't have an account?</p>
    <a href="" [routerLink]="['/account/signup']">Signup here</a>
  </div>