<div class="login">
  <h1>Login</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input 
          type="email" 
          name="email" 
          placeholder="email" 
          ngModel 
          name="email"
          email
          required
          #emailInput="ngModel"
          class="input-field"
        >
        <!-- <span *ngIf="emailInput.hasError('required')"> Email must not be empty </span> -->
        <br>
        <input 
          type="password" 
          name="password" 
          placeholder="password" 
          ngModel 
          name="password"
          required
          minlength="6"
          #pwInput="ngModel"
          class="input-field"
        >
        <br>
        <button class="button" type="submit">Submit</button>
    </form>
    <p>{{ loginError }}</p>
  </div>