<!-- From: -->
<div class="full" *ngIf="fooddata" [@goals]="goals.length">
    <div class="menu-item-category">
        <h3>Pork</h3>
        <div class="menu-item" *ngFor="let food of fooddata.pork; let i = index;">
            <div class="menu-item-heading">
                <div class="menu-item-title">
                    {{ food.title }}
                </div>
                <div class="menu-item-divider"></div>
                <div class="menu-item-price">
                    €{{ food.price }}
                </div>
            </div>
            <div class="menu-item-info">
                <div class="menu-item-description">
                    {{ food.ingredients }}
                </div>
            </div>
        </div>
    </div>  
    <div class="menu-item-category">
        <h3>Omlettes</h3>
        <div class="menu-item" *ngFor="let food of fooddata.omlettes; let i = index;">
            <div class="menu-item-heading">
                <div class="menu-item-title">
                    {{ food.title }}
                </div>
                <div class="menu-item-divider"></div>
                <div class="menu-item-price">
                    €{{ food.price }}
                </div>
            </div>
            <div class="menu-item-info">
                <div class="menu-item-description">
                    {{ food.ingredients }}
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-category">
        <h3>Vegan</h3>
        <div class="menu-item" *ngFor="let food of fooddata.vegan; let i = index;">
            <div class="menu-item-heading">
                <div class="menu-item-title">
                    {{ food.title }}
                </div>
                <div class="menu-item-divider"></div>
                <div class="menu-item-price">
                    €{{ food.price }}
                </div>
            </div>
            <div class="menu-item-info">
                <div class="menu-item-description">
                    {{ food.ingredients }}
                </div>
            </div>
        </div>
    </div>
</div>